<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" 
    content="IE=edge">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <title>generateform</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <style>
.bgimg2{
    background-color: azure;
}
.carding{
    text-align: center;
    background-color:aliceblue;
    border-style: solid;
    border-width: 1px;
    border-color:#00d916;
    border-radius: 16px;
}
.cardimage{
    width:100px;
    height: 90px;
}
.chead{
    color:#323f4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.cpara{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
    </style>
    
</head>
<body>
    <div class="bgimg2 pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-3">
            <div class="carding p-4">
              <a href='{{url_for("msdsfeedback")}}'>
              <img src="https://img.freepik.com/premium-vector/message_86843-79.jpg?w=740" class="cardimage"/>
              <h1 class="chead">MSDS-form</h1>
              <p class="cpara">generate form</p>
            </div>
          </div>
          </a>
          <div class="col-12 col-md-3">
            <div class="carding p-4">
              <a href='{{url_for("mscsfeedback")}}'>
              <img src="https://img.freepik.com/premium-vector/message_86843-79.jpg?w=740" class="cardimage"/>
              <h1 class="chead">MSCS-form</h1>
              <p class="cpara">generate form</p>
            </div>
          </div>
          </a>
        
          <div class="col-12 col-md-3">
            <div class="carding p-4">
              <a href='{{url_for("mscafeedback")}}'>
              <img src="https://img.freepik.com/premium-vector/message_86843-79.jpg?w=740" class="cardimage"/>
              <h1 class="chead">MSCA-form</h1>
              <p class="cpara">generate form</p>
            </div>
          </div>
          </a>
          
          <div class="col-12 col-md-3">
            <div class="carding p-4">
              <a href='{{url_for("mpcsfeedback")}}'>
              <img src="https://img.freepik.com/premium-vector/message_86843-79.jpg?w=740" class="cardimage"/>
              <h1 class="chead">MPCS-form</h1>
              <p class="cpara">generate form</p>
            </div>
          </div>
          </a>
          
          <div class="col-12 col-md-3">
            <div class="carding p-4">
              <a href='{{url_for("mpcfeedback")}}'>
              <img src="https://img.freepik.com/premium-vector/message_86843-79.jpg?w=740" class="cardimage"/>
              <h1 class="chead">MPC-form</h1>
              <p class="cpara">generate form</p>
            </div>
          </div>
          </a>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>